#line {
    stroke: #236ad9;
    stroke-width: 1;
    stroke-linecap: round;
}

#red_disc, #tmp_red_disc {
    stroke: #c90c34;
    fill: #fc305f;
    stroke-width: 1;
}

#yellow_disc, #tmp_yellow_disc {
    stroke: #c9b109;
    fill: #fde025;
    stroke-width: 1;
}