<div class="modal fade" id="settingModal" tabindex="-1" aria-labelledby="settingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingModalLabel">Setting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="ai_mode" checked>
          <label class="form-check-label" for="ai_mode">Play with AI</label>
        </div>
        <select id="difficulty" class="form-select form-select-sm mt-1 mb-3">
          <option value="4">Difficulty: 4</option>
          <option selected value="5">Difficulty: 5</option>
          <option value="6">Difficulty: 6</option>
{#          <option value="7">Difficulty: 7</option>#}
{#          <option value="8">Difficulty: 8</option>#}
        </select>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" id="player2_mode">
          <label class="form-check-label" for="player2_mode">
            1P vs 2P
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>